.toggleEdge--container {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}

.toggleEdge--button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.5rem;
    width: fit-content;
    height: 4.05rem;
    color: #334;
    background-color: #CCD;
    transition: border-radius 0.2s ease;
}

.toggleEdge--container-isOn {
    justify-content: flex-end;
}

.toggleEdge--button-isOn {
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.toggleEdge--button-isOff {
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.draggable-mirror {
    border-radius: 2.5rem;
}