.app {
    position: relative;
}

.app-foreground {
    position: absolute;
}

.app-background {
    color: #CCD;
    background-color: #334;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-background--status{
    font-size: 10rem;
}