
.app {
    position: relative;
}

.app-foreground {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.app-background {
    color: #CCD;
    background-color: #334;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-background--status{
    font-size: 10rem;
}